/* nav */

body {
  background-color: #F4F4F4;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  height: 30px;
  background-color: #E3E4E5;
}

.address {
  /* height: 30px; */
  float: left;
  box-sizing: border-box;
  width: 50%;
  line-height: 30px;
  padding-left: 100px;
}

/* nav */

.info {
  height: 30px;
  float: right;
  width: 50%;
}

/*  nav ul*/

.info ul {
  /* width: 50px; */
  margin: 0;
  padding: 0;
  height: 30px;
  margin-left: 100px;
}

.info ul li {
  list-style: none;
  float: left;
  width: 50px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #ccc;
}

.info ul li a {
  font-size: 12px;
  line-height: 30px;
  color: rgb(177, 162, 162);
}

.info ul li a:hover {
  color: red;
}

navbar {
  display: flex;
  justify-content: center;
  background-color: white;
}

navbar .center {
  width: 800px;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

navbar .center .top {
  width: 546px;
}

navbar .center .top form {
  display: block;
  width: 589px;
  position: relative;
}

navbar .center .car {
  width: 100px;
  height: 36px;
  margin-left: 100px;
  margin-top: 24px;
  border: 1px solid #ccc;
  /* position: absolute; */
}

navbar .center .car a {
  color: red;
  line-height: 36px;
  display: block;
  text-align: center;
  font-size: 12px;
}

navbar .center .top input:first-child {
  width: 589px;
  float: left;
  border: 2px solid red;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
}

navbar .center .top input:last-child {
  float: right;
  width: 50px;
  border: 0;
  height: 36px;
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
}

navbar .center .top .form-group {
  width: 546px;
  height: 26px;
  margin-top: 24px;
}

navbar .center .bottom ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

navbar .center .bottom ul li {
  list-style: none;
  float: left;
}

navbar .center .bottom ul li a {
  font-size: 12px;
  padding-right: 15px;
  color: #ccc;
}

navbar .center .bottom ul li .active {
  color: red;
}

navbar .center .bottom ul li a:hover {
  color: red;
}

navbar .right img {
  margin-top: 10px;
  height: 66px;
  width: 66px;
  margin-left: 100px;
  box-shadow: 0 0 3px 3px #ccc;
  padding: 5px;
}

.dh {
  width: 630px;
}

.dh ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.dh ul li {
  list-style: none;
  float: left;
  width: 70px;
}

.dh ul li a {
  width: 70px;
  float: left;
  font-size: 15px;
  text-align: center;
}

.dh .active {
  font-weight: 900;
  color: red;
}

.fs {
  height: 480px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.fs section {
  margin-right: 10px;
}

.fs .cate_menu {
  width: 190px;
  background-color: white;
}

.fs .cate_menu ul {
  margin: 0;
  padding: 0;
}

.fs .cate_menu ul li {
  height: 25px;
  font-size: 13px;
  list-style: none;
  padding-left: 30px;
  line-height: 25px;
}

.fs .cate_menu ul li:first-child {
  margin-top: 10px;
}

.fs .cate_menu ul li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.fs .cate_menu ul li a:hover {
  color: red;
}

.fs .banner_left {
  width: 590px;
  height: 480px;
  position: relative;
  overflow: hidden;
}

.fs .banner_left a {
  float: left;
}

.fs .banner_left img {
  height: 480px;
  width: 590px;
  display: block;
}

.fs .banner_right {
  width: 190px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fs .banner_right a {
  display: block;
  height: 150px;
}

.fs .banner_right img {
  width: 190px;
  height: 100%;
}

.fs .user {
  width: 190px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
}

.fs .user .user_login {
  display: flex;
  margin-bottom: 10px;
}

.fs .user .userPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.fs .user .userPic img {
  width: 100%;
}

.fs .user .user_login .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fs .user .user_login .info aside:first-child {
  margin-bottom: 10px;
}

.fs .user .user_login .info a:first-child {
  border-right: 1px solid black;
  padding-right: 2px;
}

.fs .user .user_login .info a:hover {
  color: red;
}

.fs .user .user_btn {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(238, 230, 230);
}

.fs .user .user_btn button {
  width: 70px;
  height: 25px;
  border: 0;
  border-radius: 20px;
}

.fs .user .user_btn button:first-child {
  margin-right: 10px;
  color: white;
  background-color: red;
}

.fs .user .user_btn button:last-child {
  background-color: #363634;
  color: #e5d790;
}

.user_news ul {
  margin: 0;
  padding: 0;
}

.user_news ul li {
  list-style: none;
}

.user_news {
  display: flex;
  flex-direction: column;
}

.user_news aside a:last-child {
  float: right;
  color: #ccc;
}

.user_news aside a:first-child {
  font-weight: 900;
}

.user_news aside {
  margin-bottom: 10px;
  margin-top: 10px;
}
.user_news ul{
  float: left;
  border-bottom: 1px solid rgb(223, 217, 217);
}
.user_news ul li{
  margin-bottom: 5px;
}
.user_news ul li a:first-child {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 16px;
  background-color: rgba(225, 37, 27, .08);
  color: red;
  text-align: center;
  line-height: 16px;

}
.user_news ul li a:last-child{
  color: rgb(195, 168, 168);
  
}

.address_all{
  width: 290px;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 100;
  display: none;
  word-wrap: break-word;
  word-break:keep-all;
}
.address .jt{
  display: inline-block;
  height: 30px;
  width: 40px;

  text-align: center;
}
.address .jt:hover{
  background-color: white;
}
.address:hover .address_all{
  display: block;
}
.address_all a{
  width: 40px;
  height: 30px;
  margin-left: 10px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
.address_all a:hover{
  background-color: rgb(243, 234, 234);
}
.address_list{
  border-bottom: 1px solid rgb(238, 225, 225);
}
.address_all section{
  font-size: 12px;
}
.address_all section dt{
  padding-left: 40px;
}
.address_all .adress_area{
  border-bottom: 1px solid rgb(238, 225, 225);
}
.address_all .adress_area dd{
  display: inline-block;
  width: 100px;
}
.address_all .adress_Sites dd{
  display: inline-block;
  width: 100px;
}
.my_all{
  width: 180px;
  height: 150px;
  background-color: white;
  position: absolute;
  z-index: 10;
  display: none;
  border: 1px solid #ccc;
  padding-left: 20px;
}
.info .my:hover .my_all{
  display: block;
}
.info .my:hover{
  background-color: white;
}
.my_all .my_top a{
  display: inline-block;
  margin-right: 20px;
}
.my_all .my_bottom a{
  display: inline-block;
  margin-right: 20px;
}
.my_all a:hover{
  color: red;
}
.purchase_all{
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 10;
  word-wrap: break-word;
  word-break:keep-all;
  display: none;
}
.purchase_all a{
  margin-right: 10px;
}
.purchase:hover{
  background-color: white;
}
.purchase:hover .purchase_all{
  display: block;
}
.service_all{
  width: 200px;
  height: 250px;
  position: absolute;
  z-index: 10;
  background-color: white;
  left: 67%;
  font-size: 12px;
display: none;
}
.service_all dd,.navlist_all dd{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 72px;
  word-wrap: break-word;
  word-break:keep-all;
  padding-top: 8px;
  color: #ccc;
 
}
.service_all .top{
  border-bottom: 1px solid #ccc;
}
.service:hover{
  background-color: white;
}
.service:hover .service_all{
  display: block;
}
.navlist_all{
  width:80%;
  height: 180px;
  background-color: white;
  position: absolute;
  z-index: 10;
  left: 4%;
  font-size: 12px;
  display: none;
  border: 1px solid #ccc;
}
.navlist_all section{
  float: left;
  width: 25%;
}
dd:hover{
  color: red;
  cursor: pointer;
}
.navlist:hover{
  background-color: white;
}
.navlist:hover .navlist_all{
  display: block;
}
.allItem{
  width: 800px;
  height: 480px;
  background-color: white;
  position: absolute;
  z-index: 10;
  left: 23%;
  top: 28%;
  display: none;
}
.cate_menu:hover .allItem{
  display: block;
}